@import "../../scss/variables";

.pagination {
  display: flex;
  gap: 10px;
  justify-content: center;

  margin: 20px 0;

  font-weight: 600;

  a {
    display: flex;
    justify-content: center;

    min-width: 44px;
    padding: 10px;

    color: $orange;

    border: solid 1px $orange;
    border-radius: 30px;

    transition: 0.3s;
  }

  a:hover {
    cursor: pointer;
    color: $white;
    background-color: $orange;
    transition: 0.3s;
  }

  :global {
    .selected {
      a {
        color: $white;
        background-color: $orange;
      }
    }
  }

  @media (width <= 425px) {
    li:first-child,
    li:last-child {
      display: none;
    }
  }
}
