@import "../../scss/variables";
.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  gap: 10px;

  a {
    display: flex;
    justify-content: center;
    padding: 10px;
    min-width: 44px;
    color: $orange;
    border: solid 1px $orange;
    border-radius: 30px;
    transition: 0.3s;
  }

  a:hover {
    color: $white;

    background-color: $orange;
    transition: 0.3s;
    cursor: pointer;
  }

  :global {
    .selected {
      a {
        background-color: $orange;
        color: $white;
      }
    }
  }
}
