@import "../../scss/libs/normalize.scss";
@import "../../scss/variables.scss";

.button {
  display: inline-block;
  border-radius: 30px;
  padding: 10px 20px;
  min-width: 100px;
  text-align: center;
  cursor: pointer;
  transition:
    background-color $duration ease-in-out,
    border-color $duration ease-in-out;
  border: 1px solid transparent;
  &:active {
    transform: translateY(1px);
  }
  @include noselect();

  i,
  span,
  path,
  svg {
    transition: all $duration ease-in-out;
  }

  span {
    font-weight: 600;
    font-size: 16px;
  }
}

.buttonOrange {
  &,
  span {
    color: $white;
  }
  background-color: $orange;
  &:hover {
    background-color: darken($orange, 8%);
  }

  &:active {
    background-color: darken($orange, 12%);
    transform: translateY(1px);
  }
}

.buttonOutlineOrange {
  background-color: $white;
  border-color: $orange;
  &,
  span {
    color: $orange;
  }

  &:hover {
    background-color: $orange;

    &,
    span {
      color: $white;
    }
  }

  &:active {
    background-color: darken($orange, 8%);
    transform: translateY(1px);
  }
}

.buttonOutlineGray {
  background-color: $transparent;
  border-color: $gray;
  &,
  span {
    color: darken($gray, 30%);
  }

  &:hover {
    background-color: $black;

    &,
    span {
      color: $white;
    }
  }

  &:active {
    background-color: lighten($black, 10%);
    transform: translateY(1px);
  }
}

.buttonOutlineAction {
  padding: 0;
  min-width: 40px;
  height: 40px;
  background-color: $transparent;
  border: 3px solid $transparent;

  svg {
    position: relative;
    top: 1px;
  }
  &Gray {
    border-color: $gray;
    &:hover {
      background-color: $black;
      border-color: $transparent;
      svg {
        fill: $white;
      }
    }
  }

  &Orange {
    border-color: $orange;
    &:hover {
      background-color: $orange;
      svg {
        fill: $white;
      }
    }
  }
}
