@import "../../scss/libs/normalize";
@import "../../scss/variables";

.button {
  @include noselect;

  cursor: pointer;

  display: inline-block;

  min-width: 100px;
  padding: 10px 20px;

  text-align: center;

  border: 1px solid transparent;
  border-radius: 30px;

  transition:
    background-color $duration ease-in-out,
    border-color $duration ease-in-out;

  &:active {
    transform: translateY(1px);
  }

  i,
  span,
  path,
  svg {
    transition: all $duration ease-in-out;
  }

  span {
    font-size: 16px;
    font-weight: 600;
  }
}

.buttonOrange {
  background-color: $orange;

  &,
  span {
    color: $white;
  }

  &:hover {
    background-color: darken($orange, 8%);
  }

  &:active {
    transform: translateY(1px);
    background-color: darken($orange, 12%);
  }
}

.buttonOutlineGray {
  background-color: $transparent;
  border-color: $gray;

  *span {
    color: darken($gray, 30%);
  }

  &:active {
    transform: translateY(1px);
    background-color: lighten($black, 10%);
  }

  &:hover {
    background-color: $black;

    span {
      color: $white;
    }
  }
}

.buttonOutlineOrange {
  background-color: $white;
  border-color: $orange;

  span {
    color: $orange;
  }

  &:active {
    transform: translateY(1px);
    background-color: darken($orange, 8%);
  }

  &:hover {
    background-color: $orange;

    span {
      color: $white;
    }
  }
}

.buttonOutlineAction {
  min-width: 40px;
  height: 40px;
  padding: 0;

  background-color: $transparent;
  border: 3px solid $transparent;

  svg {
    position: relative;
    top: 1px;
    fill: $black;
  }

  &Gray {
    border-color: $gray;

    &:hover {
      background-color: $black;
      border-color: $transparent;

      svg {
        fill: $white;
      }
    }
  }

  &Orange {
    border-color: $orange;

    &:hover {
      background-color: $orange;

      svg {
        fill: $white;
      }
    }
  }
}
