@import "../../scss/libs/normalize";
@import "../../scss/variables";

.button {
  display: inline-block;
  border-radius: 30px;
  padding: 10px 20px;
  min-width: 100px;
  text-align: center;
  cursor: pointer;
  transition:
    background-color $duration ease-in-out,
    border-color $duration ease-in-out;
  border: 1px solid transparent;
  @include noselect();

  i,
  span,
  path,
  svg {
    transition: all $duration ease-in-out;
  }

  span {
    font-weight: 600;
    font-size: 16px;
  }
}

.buttonBlack {
}

.buttonOrange {
  &,
  span {
    color: white;
  }
  background-color: $orange;
  &:hover {
    background-color: darken($orange, 8%);
  }

  &:active {
    background-color: darken($orange, 12%);
    transform: translateY(1px);
  }
}

.buttonOutlineOrange {
  background-color: #fff;
  border-color: $orange;
  &,
  span {
    color: $orange;
  }

  &:hover {
    background-color: $orange;

    &,
    span {
      color: #fff;
    }
  }

  &:active {
    background-color: darken($orange, 8%);
    transform: translateY(1px);
  }

  .buttonOutlineGray {
    background-color: #fff;
    border-color: $orange;
    &,
    span {
      color: $orange;
    }
  
    &:hover {
      background-color: $orange;
  
      &,
      span {
        color: #fff;
      }
    }
  
    &:active {
      background-color: darken($orange, 8%);
      transform: translateY(1px);
    }
}
