@import "../../scss/variables";

.form {
  display: flex;
  flex-direction: column;

  width: 80%;
  padding: 20px;

  border: 2px solid $black;
  border-radius: 20px;

  h1 {
    font-size: 36px;
  }

  &Text {
    display: flex;
    flex-direction: column;

    textarea {
      resize: none;

      min-height: 150px;
      margin-bottom: 10px;
      padding: 5px 10px;

      font-size: 20px;

      border-radius: 20px;

      &::-webkit-scrollbar {
        width: 0;
      }
    }

    input {
      margin-bottom: 10px;
      padding: 5px 10px;
      font-size: 20px;
      border-radius: 20px;
    }
  }

  &SelectPizza {
    display: flex;

    margin-bottom: 30px;
    padding: 5px 10px;

    font-size: 18px;
    font-weight: 600;

    border-radius: 20px;

    option {
      padding: 3px;
    }

    option:focus {
      color: $white;
      background-color: $orange;
    }
  }

  &Checkbox {
    margin-bottom: 15px;

    input {
      position: relative;
      top: 2px;
      left: 0;

      width: 20px;
      height: 20px;
      margin: 0 3px 0 0;
    }

    span {
      padding-right: 14px;
      font-size: 20px;
      line-height: 133%;
    }
  }

  &Bottom {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}

@media (width <= 768px) {
  .form {
    width: 100%;
    padding: 20px 10px;
  }
}

@media (width <= 425px) {
  .form {
    text-align: center;
    border: none;

    h1 {
      margin-bottom: 20px;
      font-size: 24px;
      line-height: 150%;
    }

    &Checkbox {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      input {
        position: static;
        width: 20px;
        height: 20px;
      }

      span {
        padding-right: 14px;
        font-size: 20px;
        line-height: 133%;
      }
    }

    &Bottom {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
}
