@import "../../scss/variables";
@import "../../scss/libs/normalize";

.categories {
  ul {
    display: flex;

    li {
      @include noselect;

      margin-right: 10px;
      padding: 13px 30px;
      border-radius: 30px;
      background-color: $gray-line;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;

      &:hover {
        background-color: darken($gray-line, 2%);
      }

      &:active {
        background-color: darken($gray-line, 5%);
      }

      &.active {
        background-color: $black;
        color: $white;
      }
    }
  }
}
