@import "../../scss/variables";
@import "../../scss/libs/normalize";

.categories {
  width: 100%;
  padding-bottom: 10px;

  &::-webkit-scrollbar {
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $orange;
    border-radius: 8px;
  }

  ul {
    display: flex;

    li {
      @include noselect;

      cursor: pointer;

      padding: 13px 20px;

      font-weight: bold;

      background-color: $gray-line;
      border-radius: 30px;

      transition: background-color 0.1s ease-in-out;

      &:hover {
        background-color: darken($gray-line, 2%);
      }

      &:active {
        background-color: darken($gray-line, 5%);
      }

      &.active {
        color: $white;
        background-color: $black;
      }
    }

    li:not(:last-child) {
      margin-right: 10px;
    }
  }

  @media (width <= 1300px) {
    overflow-x: auto;
  }
}
