@import "../../scss/variables";

.wrapper {
  width: calc(100vw - 100px);
  max-width: 1400px;
  height: 100%;
  margin: 50px auto;

  background-color: $white;
  border-radius: 20px;
  box-shadow: 0 0 30px 1px rgba($color: black, $alpha: 60%);

  .admin {
    position: absolute;
    top: 0;
    left: 0;
  }

  @media (width <= 800px) {
    width: 100%;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
  }
}

.content {
  padding: 30px;

  @media (width <= 425px) {
    min-height: 100%;
    padding: 10px;
  }
}
