.wrapper {
  width: calc(100vw - 100px);
  max-width: 1400px;
  height: 100%;
  margin: 50px auto;
  border-radius: 10px;
  background-color: #fff;

  @media (width <= 425px) {
    width: 100%;

    .header__logo h1 {
      font-size: 20px;
    }
  }
}

.content {
  padding: 30px;
}
