@import "../../scss/variables";

.container {
  width: $containerWidth;
  margin: 0 auto;
}

.fullPizzaLoading {
  font-size: 30px;
  font-weight: 700;
}

.fullPizza {
  cursor: default;
  color: $black;

  &Body {
    display: flex;
    flex-direction: column;
  }

  &Image {
    align-self: center;
    max-width: 500px;
    margin-bottom: 20px;
  }

  &Title {
    margin-bottom: 20px;

    font-size: 32px;
    font-weight: 700;
    color: $black;
    text-indent: 30px;
  }

  &Description {
    margin-bottom: 20px;
    text-indent: 30px;
  }

  &Params {
    margin-bottom: 20px;

    p {
      margin-bottom: 10px;
      font-size: 24px;
      text-indent: 30px;
    }

    &Items {
      display: inline-flex;
      gap: 7px;

      padding: 8px;

      background-color: $gray-line;
      border-radius: 10px;
    }

    &Item {
      padding: 7px 20px;
      border-radius: 10px;
    }
  }

  .active {
    background-color: $white;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
  }

  &Price {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 600;
  }

  .goBackButton {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 230px;
    padding: 16px;

    font-size: 16px;
  }
}
