@import "../../scss/variables";

.container {
  width: $containerWidth;
  margin: 0 auto;

  .content {
    &Top {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media (width <= 1300px) {
        flex-direction: column;

        .categories {
          overflow: scroll;
          width: 660px;
        }

        ul {
          width: 785px;
          margin-bottom: 30px;
        }
      }

      @media (width <= 820px) {
        .categories {
          overflow: scroll;
          width: 100%;
        }
      }
    }

    .categories {
      margin: 35px 0;
    }

    &Title {
      margin: 35px 0;
    }

    &Items {
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 20px 10px;

      @media (width <= 1445px) {
        grid-template-columns: repeat(3, 1fr);
      }

      @media (width <= 1092px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (width <= 790px) {
        grid-template-columns: repeat(1, 1fr);
      }
    }

    .paginationHome {
      display: flex;
      gap: 10px;
      justify-content: center;
      margin: 0 auto;
      padding: 20px;
    }
  }
}
