@import "../../scss/variables";

.container {
  width: $containerWidth;
  margin: 0 auto;
  .content {
    &Top {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media (max-width: 1300px) {
        flex-direction: column;

        .categories {
          width: 660px;
          overflow: scroll;
        }

        ul {
          width: 785px;
          margin-bottom: 30px;
        }
      }

      @media (max-width: 820px) {
        .categories {
          width: 100%;
          overflow: scroll;
        }
      }
    }
    .categories {
      margin: 35px 0;
    }
    &Title {
      margin: 35px 0;
    }
    &Items {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 10px;
      grid-row-gap: 20px;

      @media (max-width: 1400px) {
        grid-template-columns: repeat(3, 1fr);
      }

      @media (max-width: 1060px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width: 730px) {
        grid-template-columns: repeat(1, 1fr);
      }
    }
    .paginationHome {
      display: flex;
      margin: 0 auto;
      padding: 20px;
      justify-content: center;
      gap: 10px;
    }
  }
}
