@import "../../scss/variables";
@import "../../scss/libs/normalize";

.header {
  padding: 40px 20px;
  border-bottom: 1px solid $gray-line;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &Logo {
    display: flex;

    svg {
      width: 38px;
      margin-right: 15px;
    }

    h1 {
      font-size: 24px;
      font-weight: 800;
      color: $black;
      text-transform: uppercase;
      letter-spacing: 1%;
    }

    p {
      color: lighten($black, 50%);

      @media (width <= 645px) {
        display: none;
      }
    }
  }

  .search {
    flex: 1 1 auto;
    max-width: 500px;
    margin: 0 30px;
  }

  .button {
    &Cart {
      display: flex;
      align-items: center;
      padding: 12px 25px;
      line-height: 23px;

      svg {
        width: 18px;
        height: 18px;
        margin-right: 8px;
        margin-bottom: 1px;

        fill: none;
        stroke: $white;
      }
    }

    &Delimiter {
      width: 1px;
      height: 25px;
      margin-right: 14px;
      margin-left: 14px;

      background-color: $white;
    }
  }
}
