@import "../../scss/variables";

.cartItem {
  display: flex;
  column-gap: 10px;
  align-items: center;
  justify-content: space-between;

  margin: 10px 0;
  padding: 10px 0;

  border-bottom: 1px solid lighten($gray, 20);

  &Image {
    width: 80px;
    height: 80px;
  }

  &Label {
    width: 50%;

    .cartItemTitle {
      font-size: 22px;
      font-weight: 700;
      color: $black;
    }

    .cartItemInfo {
      font-size: 18px;
      font-weight: 300;
    }
  }

  &Count {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    align-items: center;

    .cartItemQuantity {
      font-size: 22px;
      font-weight: 700;
    }
  }

  &Price {
    width: 25%;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
  }

  &Remove {
    rotate: 45deg;
  }
}
