.root {
  margin: 0 10px;
  position: relative;
}
.input {
  margin: 0 auto;
  padding: 13px;
  padding-right: 55px;
  width: 300px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  font-size: 16px;
  color: gray;
  transition: 0.2s;

  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.3);
  }
}

.icon {
  position: absolute;
  right: 12px;
  top: 12px;
  width: 30px;
  height: 30px;
}

.close {
  position: absolute;
  right: 17px;
  top: 14px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.active {
  display: inline-block;
  opacity: 0.3;
}

.disable {
  display: none;
  opacity: 0;
}
