@import "../../scss/variables";
@import "../../scss/libs/normalize";

.root {
  position: relative;
  margin: 0 10px;
}

.input {
  width: 100%;
  margin: 0 auto;
  padding: 13px;
  padding-right: 40px;
  border: 1px solid $gray;
  border-radius: 25px;
  color: black;
  font-size: 16px;
  transition: 0.2s;

  &:focus {
    border: 1px solid darken($gray, 25%);
  }
}

.icon {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 30px;
  height: 28px;
  fill: $gray;
}

.close {
  position: absolute;
  top: 11px;
  right: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  fill: $gray;

  &:hover {
    fill: $orange;
  }
}

.active {
  display: inline-block;

  // opacity: 0.3;
}

.disable {
  display: none;
  opacity: 0;
}
