@import "../../scss/variables";
@import "../../scss/libs/normalize";

.pizzaBlock {
  width: 280px;
  height: 100%;
  margin: 0 auto;
  margin-bottom: 20px;

  text-align: center;

  // &:not(:nth-of-type(4n)) {
  //   margin-right: 35px;
  // }

  &Image {
    width: 260px;
  }

  &Title {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 1%;
  }

  &Selector {
    display: flex;
    flex-direction: column;

    padding: 6px;

    background-color: $gray-line;
    border-radius: 10px;

    ul {
      display: flex;
      flex: 1;

      &:first-of-type {
        margin-bottom: 6px;
      }

      li {
        @include noselect;

        cursor: pointer;

        flex: 1;

        padding: 8px;

        font-size: 14px;
        font-weight: 600;

        &.active {
          cursor: auto;
          background: $white;
          border-radius: 5px;
          /* stylelint-disable-next-line color-function-notation */
          box-shadow: 0 2px 4px rgba(0, 0, 0, 10%);
        }
      }
    }
  }

  &Bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }

  &Price {
    padding-left: 6px;

    font-size: 22px;
    font-weight: bold;
    line-height: 27px;
    letter-spacing: 0.015em;
  }
}

.skeleton {
  margin: 0 auto;
  margin-bottom: 20px;
}
