$black: #232323;
$background: #ffdf8c;
$gray-line: #f6f6f6;
$gray: #b9b9b9;
$orange: #fe5f1e;
$white: #ffffff;
$transparent: transparent;

$container-width: 90%;

$duration: 0.15s;

// :export {
//   gray: $gray;
// }
// $themeColor: (
//   black: $black,
//   gray: $gray
// );

// :export {
//   @each $color, $value in $themeColor {
//     #{uniquote($color)}: $value;
//   }
// }
// @each $color, $value in $themeColor {
//   :export {
//     $color: $value;
//   }
// }
