@import "./variables";
@import "./libs/normalize";

html {
  scrollbar-gutter: stable both-edges;
}

body {
  overflow-x: hidden;
  background-color: $background;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: darken($white, 10);
    border-radius: 8px;
  }

  @media (width <= 800px) {
    &::-webkit-scrollbar {
      width: 8px;
      background-color: $white;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $orange;
      border-radius: 8px;
    }
  }

  @media (width <= 800px) {
    background-color: $white;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  margin: 0;
  appearance: none;
}
