@import "../../scss/variables";

.sort {
  position: relative;

  &Label {
    display: flex;
    align-items: center;

    svg {
      margin-right: 8px;
    }

    b {
      margin-right: 8px;
    }

    span {
      border-bottom: 1px dashed $orange;
      color: $orange;
      cursor: pointer;
    }
  }

  &Icon {
    fill: $black;
    transition: $duration;

    &Active {
      fill: $orange;
      transition: $duration;
      rotate: 180deg;
    }
  }

  &Popup {
    position: absolute;
    right: 0;
    overflow: hidden;
    min-width: 230px;
    margin-top: 15px;
    padding: 10px 0;
    border-radius: 10px;
    background: $white;
    box-shadow: 0 5px 15px rgb(0 0 0 / 9%);

    ul {
      display: inline;
      overflow: hidden;

      li {
        padding: 12px 20px;
        cursor: pointer;

        &.active,
        &:hover {
          background: darken($white, 2%);
        }

        &.active {
          color: $orange;
          font-weight: bold;
        }
      }
    }
  }
}
