@import "../../scss/variables";

.sort {
  position: relative;
  .sortLabel {
    display: flex;
    align-items: center;

    svg {
      margin-right: 8px;
    }

    b {
      margin-right: 8px;
    }

    span {
      color: $orange;
      border-bottom: 1px dashed $orange;
      cursor: pointer;
    }
  }

  .sortPopup {
    position: absolute;
    overflow: hidden;
    right: 0;
    margin-top: 15px;
    padding: 10px 0;
    min-width: 230px;
    background: $white;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
    border-radius: 10px;

    ul {
      display: inline;
      overflow: hidden;
      li {
        padding: 12px 20px;
        cursor: pointer;

        &.active,
        &:hover {
          background: darken($white, 2%);
        }

        &.active {
          font-weight: bold;
          color: $orange;
        }
      }
    }
  }
}
